@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 100;
    src: url('../assets/Fonts/IRAN.woff') format('woff'); /* All Major Browsers */
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 100;
    src: url('../assets/Fonts/IRAN_SemiBold.woff') format('woff'); /* All Major Browsers */
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 100;
    src: url('../assets/Fonts/IRANBlack.woff') format('woff'); /* All Major Browsers */
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 100;
    src: url('../assets/Fonts/IRANBlack.woff') format('woff'); /* All Major Browsers */
}
