.PageingHeaderANDfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    direction: rtl;background-color: #ffffff;
    padding: 10px;
    box-shadow:0 6px 10px  0 #eeee;
}

.Headers .headerIcons {
    display: flex;
}

.Headers .headerIcons a {

}

.Headers .headerIcons a img {

}

.Headers span {
    font-size: 14px;
}

.Footers {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
}

.Footers .Itemslink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 375px;
    height: 70px;

}

.Footers .Itemslink a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.Footers .Itemslink a img {
    width: 21px;
    height: 20px;
}

.Footers .Itemslink a span {
    font-size: 10px;
    margin-top: 5px;
}

